
body {
    color: #ffffff;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    font-weight: bold;

    background-color: #000000;
    margin: 0px;
    overflow: hidden;

    /* these all go together to ensure bounded centered page. */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* ----------- */
}

#info {
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
}

a {

    color: #ffffff;
}

#oldie a { color:#da0 }

/* Load images, but hide them from the viewer onscreen. */
img
{
    visibility: hidden;
}